.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.links {
  display: flex;
  gap: 0.75rem;
  list-style: none;
}

.navlink {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.navlink:hover {
  color: #f9826c;
  text-decoration: none;
}
